* {
    box-sizing: border-box;
}

html {
    scroll-behavior: auto !important;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

main {
    background-color: #000;
    color: #fff;
}

h2 {
    font-weight: 300;
}

.card-img-top {
    height: 45%;
}

.card-title {
    font-size: 20px;
    font-weight: 400;
}


/*footer*/

#footer,
.bgIcons,
.card-body {
    background-color: #0dcaf0;
}

#footer a {
    color: white;
    text-decoration: none;
}